<h1>﻿History</h1>

<form name="historyForm" novalidation class="form">
  <!-- <div class="form-group">
      <label>Account</label>
      <select ng-model="filter.correspondent" class="form-control"
              ng-options="item.id as item.name for item in users">
          <option value="">Select Account</option>
      </select>
  </div> -->
  <div class="form-group jambotron">
      <label for="username">username</label>
      <input type="text" name="username" ng-model="filter.username" class="form-control  input-sm" />
      <!-- <div class="text-danger" ng-show="historyForm.filter.username.$error.required && transferForm.username.$dirty">Please enter amount.</div> -->
  </div>
  <div class="form-group">
      <label for="amountmax">amountmin</label>
      <input type="text" name="amountmin" ng-model="filter.amountmin" class="form-control  input-sm" />
      <!-- <div class="text-danger" ng-show="historyForm.filter.amountmin.$error.required && transferForm.amountmin.$dirty">Please enter amount.</div> -->
  </div>
  <div class="form-group">
      <label for="amountmin">amountmax</label>
      <input type="text" name="amountmax" ng-model="filter.amountmax" class="form-control input-sm" />
      <!-- <div class="text-danger" ng-show="historyForm.filter.amountmax.$error.required && transferForm.amountmax.$dirty">Please enter amount.</div> -->
  </div>
  <div class="form-group">
      <label for="datemin">datemin</label>
      <input type="text" name="datemin" ng-model="filter.datemin" class="form-control input-sm" />
      <!-- <div class="text-danger" ng-show="historyForm.filter.datemin.$error.required && transferForm.datemin.$dirty">Please enter amount.</div> -->
  </div>
  <div class="form-group">
      <label for="datemax">datemax</label>
      <input type="text" name="datemax" ng-model="filter.datemax" class="form-control input-sm" />
      <!-- <div class="text-danger" ng-show="historyForm.filter.datemax.$error.required && transferForm.datemax.$dirty">Please enter amount.</div> -->
  </div>
  <button class="btn btn-default" ng-click="makerequest(filter)">Поиск</button>
  <div style="color:red;" ng-show="errors.length > 0" ng-repeat="error in errors">{{error}}</div>
</form>

<table class="table table-condensed table-hover" ng-show="history.length>0" style="padding-top:10px;">
    <tr>
        <th>id</th>
        <th>dateaccount</th>
        <th>amount</th>
        <th>correspondent</th>
    </tr>
    <tr ng-repeat="item in history">
      <td>{{item.id}}</td>
      <td>{{item.dateaccount | date }}</td>
      <td>{{item.amount}}</td>
      <td>{{item.correspondent}}</td>
    </tr>
</table>
