<form class="form-login" role="form" name="signupForm" role="form" novalidate>
    <h2 class="form-login-heading">Sign up</h2>
    <div class="form-group"  show-errors>
      <input type="text" class="form-control" name="userName" placeholder="Username" data-ng-model="registration.userName" required autofocus>
      <div class="help-block" ng-messages="signupForm.userName.$error" ng-if="signupForm.userName.$error">
        <p ng-message="required">Username is required.</p>
      </div>
    </div>

    <div class="form-group"  show-errors>
      <input type="email" class="form-control" name="email" placeholder="Email" data-ng-model="registration.email" required>
      <div class="help-block" ng-messages="signupForm.email.$error" ng-if="signupForm.email.$error">
        <p ng-message="required">Email is required.</p>
        <p ng-message="email">This field must be a valid email address.</p>
      </div>
    </div>

    <div class="form-group"  show-errors>
      <input type="password" class="form-control" name="password" placeholder="Password" data-ng-model="registration.password" required>
      <div class="help-block" ng-messages="signupForm.password.$error" ng-if="signupForm.password.$error">
        <p ng-message="required">Password is required.</p>
      </div>
    </div>

    <div class="form-group"  show-errors>
      <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" data-ng-model="registration.confirmPassword" required>
      <div class="help-block" ng-messages="signupForm.confirmPassword.$error" ng-if="signupForm.confirmPassword.$error">
        <p ng-message="required">Password confirmation is required.</p>
      </div>
    </div>

    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">Submit</button>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>
